:root {
  --col-bg: #f2f2f3;
  --col-fg: #0e0e0e;
  --col-main: #007cff;
  --col-green: #00ff03;
  --col-orange: #ff8300;
  --col-pink: #ff00ff;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 50.5%;
}
@media (min-width: 768px) {
  html {
    font-size: 55.5%;
  }
}
body {
  background-color: var(--col-bg);
  color: var(--col-fg);
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  display: grid;
  color: var(--col-main);
  text-decoration: none;
  text-transform: capitalize;
}
.fcontainer {
  min-width: 98vw;
  position: relative;
  padding: 0 5px;
}

/*============== navbar ===========*/

.logo > h1 {
  color: var(--col-main);
  letter-spacing: 1.2px;
}
.navbar {
  z-index: 999;
  position: fixed;
  display: flex;
  left: 1%;
  right: 1%;
  border-radius: 8px;
  top: 1%;
  padding: 10px;
  backdrop-filter: blur(1.3px);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.navbar > .navbar_nav {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
  padding: 10px;
  position: absolute;
  transition: 1s ease-in-out;
  right: -29%;
  top: 101%;
  border-radius: 8px;
}
.navbar_nav > a {
  transform: rotate(45deg);
  background-color: var(--col-orange);
  border-radius: 4px;
  padding: 5px 20px;
  opacity: 0.8;
}
.navbar_nav > a:nth-child(2) {
  background-color: var(--col-pink);
}
.navbar_nav > a:nth-child(3) {
  background-color: var(--col-green);
}
a:hover,
a:focus {
  opacity: 1;
  color: #000;
}
.active {
  opacity: 1;
  transform: translateX(-27vw);
}
.navbar_menu {
  width: 35px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3px;
  opacity: 0.8;
  transition: 1s;
}
.navbar_menu:hover {
  opacity: 1;
}
.navbar_menu > span {
  width: 100%;
  height: 3px;
  background-color: var(--col-main);
  border-radius: 2px;
}

/*=========== navbar*/

/*============ home section*/

#home {
  display: flex;
  min-height: 100vh;
}
@media only screen and (min-width: 423px) {
  #home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-top: 60px;
}
.home_page > .home_head {
  font-size: 3rem;
  border-bottom: 2px solid var(--col-main);
}
.home_page > .home_auto {
  align-self: flex-end;
  font-size: 3rem;
  font-weight: 200;
  flex: 1 0 auto;
  overflow: hidden;
  border-radius: 9px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.home_auto > ul {
  list-style-type: none;
  animation: animate 15s steps(2) infinite;
  padding: 10px;
}
.home_auto > ul > li {
  display: block;
  overflow: hidden;
  color: #434343;
  padding: 0 10px;
  border-bottom: 1px solid var(--col-main);
}
.home_auto > ul > li:nth-child(1) {
  border-top: 1px solid var(--col-main);
}
.home_img {
  width: 250px;
  padding: 10px;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    var(--col-main),
    var(--col-pink),
    var(--col-orange)
  );
}
.home_img > img {
  border-radius: 5px;
  filter: grayscale(40%);
  transform: rotate(30deg);
  transform-origin: 11px 0;
  opacity: 0.8;
  transition: 1s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
img:hover {
  transform: rotate(0deg);
  opacity: 1;
  filter: none;
}
.home_cta {
  display: flex;
  min-width: 400px;
  justify-content: center;
}
.home_cta > .cta {
  display: flex;
  width: 200px;
  padding: 10px;
  background-color: var(--col-pink);
  margin: 10px auto;
  border-radius: 8px;
  letter-spacing: 1.4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #000;
  font-weight: 600;
  opacity: 0.8;
}
.cta:hover,
.cta:focus {
  opacity: 1;
}

/*============= end home*/

/*============== skills section*/

#skills {
  min-height: 100vh;
  margin-top: 100px;
}
.skill {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.skill > h3 {
  display: flex;
  padding: 5px 10px;
  width: 300px;
  background-color: var(--col-orange);
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.skill > h3:nth-child(odd) {
  background-color: var(--col-pink);
}
h3 > span {
  width: 200px;
  padding: 10px;
  background-color: var(--col-main);
  border-radius: 8px;
}
.skill > h3 > span > img {
  width: 60px;
  transform: rotate(40deg);
  filter: blur(1.2px);
  transition: 1s;
}
.skill > h3 > span > img:hover {
  transform: rotate(0deg) translateY(20px) translateX(70px);
  filter: blur(0);
}

/*========= end skills*/

/*================project section*/

.projec {
  min-height: 100vh;
  margin-top: 100px;
}
.projec > h2 {
  text-align: center;
  border-radius: 8px;
  margin-bottom: 10px;
  letter-spacing: 1.2px;
  color: #fff;
  padding: 10px;
  background: linear-gradient(to right, var(--col-pink), var(--col-main));
}
.projec > ul {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  word-wrap: break-word;
  list-style-type: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 10px;
}
.projec > ul > li {
  width: 100%;
  padding: 0 50px;
  letter-spacing: 1.2px;
  font-weight: 500;
}
.projec > ul > li:before {
  content: "-";
  font-size: 4rem;
  color: var(--col-pink);
  vertical-align: middle;
  margin-right: 10px;
}
.projec > .projec_pic {
  margin-top: 20px;
  max-width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.projec_pic > .ppic {
  width: 300px;
  background-color: var(--col-green);
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ppic:nth-child(odd) {
  background-color: var(--col-pink);
}
.projec_pic > .ppic > img {
  opacity: 0.8;
  transform: rotate(45deg);
  transform-origin: 0 0;
  transition: 1s;
  border-radius: 8px;
}
.projec_pic > .ppic > img:hover {
  transform: rotate(0deg);
  opacity: 1;
}

/*===========end project*/

/*============= info section*/

.about_info {
  margin-top: 100px;
}
.about_info > .info {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.info > h4 {
  border-radius: 8px;
  width: 100%;
  letter-spacing: 1.2px;
  background-color: var(--col-orange);
  padding: 10px;
}
.info > p {
  letter-spacing: 1.2;
  text-indent: 50px;
  color: var(--col-main);
}

input {
  border: none;
  color: #000;
  font-weight: 500;
  caret-color: var(--col-pink);
  padding: 0 10px;
}
input::placeholder {
  color: var(--col-main);
}

/*==================== end everytings*/
